{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <h1> About Us </h1>
    <p>Discover the story behind PetCare Connect and our mission to connect pet owners with trusted caregivers.</p>
</div>

<section class="team">
    <div class="container">
        <h2>Meet Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="https://static.vecteezy.com/system/resources/previews/004/439/692/non_2x/doodle-girl-character-drawing-cute-vector.jpg" alt="Team Member">
                <h3>Anna Sarabasheva</h3>
                <p>Founder & CEO</p>
            </div>
            <div class="team-member">
                <img src="https://static.vecteezy.com/system/resources/previews/004/439/696/non_2x/doodle-boy-character-drawing-cute-vector.jpg" alt="Team Member">
                <h3>John Doe</h3>
                <p>CTO</p>
            </div>
            <div class="team-member">
                <img src="https://static.vecteezy.com/system/resources/previews/004/439/691/non_2x/avatar-doodle-profile-girl-character-vector.jpg" alt="Team Member">
                <h3>Jane Smith</h3>
                <p>Head of Operations</p>
            </div>
        </div>
    </div>
</section>

<section class="about-mission">
    <div class="container">
        <h2>Our Mission</h2>
        <p>
            At PetCare Connect, our mission is to create a safe and reliable community for pet owners to find trusted
            caregivers. Whether you're planning a trip, stuck at work, or just need a helping hand, we're here to ensure
            your beloved pets are in good hands.
        </p>
    </div>
</section>

<section class="cta">
    <div class="container">
        <h2>Join Our Community</h2>
        <p>
            Become a part of our growing community of pet lovers and caregivers. Together, we can ensure every pet
            receives the love and care they deserve.
        </p>
        <a href="{% url 'contact-us' %}" class="btn">Get in Touch</a>
    </div>
</section>

{% endblock %}