{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/pet-logo.png' %}">

    <title>PetCare Connect</title>
</head>
<body>

    <header>
        <div class="logo">
            <a href="/" title="Go to Home Page">
                <img src="{% static 'images/pet-logo.png' %}" alt="PetCare Logo">
            </a>
            {% include 'common/navigation.html' %}
        </div>

         <!-- Chat Icon -->
        <div class="header-right">
            <a href="{% url 'chat_list' %}" class="chat-icon">
                <img src="{% static 'images/chat-icon.png' %}" alt="Chat" />
            </a>
        </div>

    </header>

    {% block content %}
    {% endblock %}

   {% if request.resolver_match.url_name != "calendar" %}
        <footer class="footer">
            <div class="footer-content">
                <p>&copy; 2025 PetCare Connect. All Rights Reserved.</p>

                <ul class="social-media">
                    <li><a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a></li>
                    <li><a href="#"><img src="{% static 'images/twitter.png' %}" alt="Twitter"></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a></li>
                </ul>
            </div>
        </footer>
   {% endif %}

</body>
</html>