{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<section class="hero">
    <h1>Welcome to PetCare Connect</h1>
    <div>
        <p>Connecting pet owners with trusted caregivers</p>
        <h2>Find the Perfect Caregiver for Your Pet</h2>
        <p>Safe, reliable, and community-driven pet care at your fingertips.</p>
    </div>

    <a href="{% url 'dashboard' %}">
        <button class="cta-button">Get Started</button>
    </a>

</section>

<section id="features" class="features">
    <h2>Our Features</h2>
    <div class="feature">
        <a href="{% url 'create-pet-profile' %}" class="feature-link">
            <img src="{% static 'images/pet-profile-icon.png' %}" alt="Pet Profiles">
            <h3>Pet Profiles</h3>
            <p>Create detailed profiles for your pets with all their needs.</p>
        </a>
    </div>
    <div class="feature">
        <a href="{% url 'become-caregiver' %}" class="caregiver-link">
            <img src="{% static 'images/caregiver-icon.png' %}" alt="Trusted Caregivers">
            <h3>Want to be a Caregiver ?</h3>
            <p>Fill out this form and help our petowners.</p>
        </a>
    </div>
    <div class="feature">
        <img src="{% static 'images/updates-icon.png' %}" alt="Real-Time Updates">
        <h3>Real-Time Updates</h3>
        <p>Get photos and messages while your pet is in care.</p>
    </div>
    <div class="feature">
        <a href="{% url 'calendar' %}" class="caregiver-link">
            <img src="{% static 'images/calendar-icon.png' %}" alt="Easy Scheduling">
            <h3>My Calendar</h3>
            <p>Stay organized and never miss an important caregiving day again!</p>
        </a>
    </div>
</section>


{% endblock %}
