{% load static %}

<div class="menu-container">
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav class="dropdown-menu" id="dropdownMenu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href={% url 'about' %}>About Us</a></li>
            <li><a href={% url 'dashboard' %}>Pets Profiles</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{% url 'contact-us' %}">Contact</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'my-pets' %}">🐾 My Pets</a></li>
                <li><a href={% url 'logout' %}>Logout</a></li>
            {% else %}
                <li><a href={% url 'login' %}>Login</a></li>
                <li><a href={% url 'register' %}>Register</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

<script src="{% static 'js/script.js' %}"></script>
